API_PUBLIC_BASE_URL=

# Pest and disease detection
PEST_ENC_KEY=
PEST_LOGIN_URL=https://stage-farmers-app-api.mahapocra.gov.in/jwtServices/LoginCheckChatbot
PEST_DETECTION_CROPS_URL=https://stage-farmers-app-api.mahapocra.gov.in/pestdetectionServices/get-crops-for-pest-detection
PEST_DETECTION_PREDICT_URL=https://ndksp-tih.mahapocra.gov.in/api/v1/predict
PEST_DETECTION_ADVISORY_URL=https://stage-farmers-app-api.mahapocra.gov.in/pestdetectionServices/crop_pd_advisory
PEST_DETECTION_STORE_RESPONSE_URL=https://farmers-app-api.mahapocra.gov.in/pestdetectionServices/store-response-against-crop-image
PEST_DETECTION_FEEDBACK_URL=https://farmers-app-api.mahapocra.gov.in/pestdetectionServices/store-feedback
